<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <h1 align="center">Users</h1>

        <table>
      <tr>
        <td style="width: 100px"><a href="{% url "toys" %}">Toys</a></td>
          <td style="width: 100px"><a href="{% url 'market_list' %}">Markets</a></td>
      </tr>
    </table>



    
    <table align="center" bordercolor="green" border="1" cellspacing="0" cellspacing="10" width="300">
        <thead>
           <tr>
               <th>First name</th>
               <th>Last name</th>
               <th>Age</th>
           </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr align="center">
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.age }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h1 align="center">Toys</h1>
    <table align="center" bordercolor="green" border="1" cellspacing="0" cellspacing="10" width="300">
        <thead>
           <tr>
               <th>Name</th>
               <th>User</th>
           </tr>
        </thead>
        <tbody>
        {% for toy in toys %}
            <tr align="center">
                <td>{{ toy.name }}</td>
                <td>{{ toy.user }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>



<div>

</div>
  <div>
    <table>
      <tr>
        <td style="width: 100px"><a href="{% url "toys" %}">Toys</a></td>
          <td style="width: 100px"><a href="#">Users</a></td>
      </tr>
    </table>
    <hr>
  </div>

</body>
</html>